[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "thirdparty/picojson"]
	path = thirdparty/picojson
	url = git@github.com:kazuho/picojson.git
